<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gokong.www.gokongmain.dao.InformationEvaluateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.gokong.www.gokongmain.domain.InformationEvaluate">
        <id column="id" property="id" />
        <result column="information_no" property="informationNo" />
        <result column="evaluate_no" property="evaluateNo" />
        <result column="user_no" property="userNo" />
        <result column="evaluate_date" property="evaluateDate" />
        <result column="evaluate_content" property="evaluateContent" />
        <result column="praise_num" property="praiseNum" />
        <result column="reply_num" property="replyNum" />
    </resultMap>

</mapper>
