<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gokong.www.gokongmain.dao.OverseasBusinessApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.gokong.www.gokongmain.domain.OverseasBusinessApply">
        <id column="id" property="id" />
        <result column="user_no" property="userNo" />
        <result column="business_no" property="businessNo" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="city" property="city" />
    </resultMap>

</mapper>
