<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gokong.www.gokongmain.dao.PlatformAccountLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.gokong.www.gokongmain.domain.PlatformAccountLog">
        <id column="id" property="id" />
        <result column="change_mode" property="changeMode" />
        <result column="change_amount" property="changeAmount" />
        <result column="change_date" property="changeDate" />
        <result column="change_no" property="changeNo" />
        <result column="user_no" property="userNo" />
        <result column="change_remark" property="changeRemark" />
    </resultMap>

</mapper>
