<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gokong.www.gokongmain.dao.RechargeSetMealMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.gokong.www.gokongmain.domain.RechargeSetMeal">
        <id column="id" property="id" />
        <result column="set_meal_no" property="setMealNo" />
        <result column="pay_num" property="payNum" />
        <result column="send_num" property="sendNum" />
    </resultMap>

</mapper>
