<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gokong.www.gokongmain.dao.SysConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.gokong.www.gokongmain.domain.SysConfig">
        <id column="id" property="id" />
        <result column="config_code" property="configCode" />
        <result column="config_remark" property="configRemark" />
        <result column="config_val" property="configVal" />
    </resultMap>

</mapper>
